@import url("http://fonts.googleapis.com/css?family=Dosis:300,600")

// -- Colors
BACKGROUND                  = #222222
THEME                       = #ffc107
WHITE                       = #ffffff

RACCOON                     = #636463
BEAR                        = #B87B4D
FOX                         = #EFA92C
RABBIT                      = #E46E68
DOG                         = #917F70
PIG                         = #EEA3A1

// -- Fonts
FONT_FAMILY                 = "Dosis", "Helvetica Neue", "Helvetica", "sans-serif"
FONT_SIZE                   = 18px
FONT_SIZE_TINY              = 80%
FONT_SIZE_SMALL             = 90%
FONT_SIZE_NORMAL            = 100%
FONT_SIZE_BIG               = 120%
FONT_WEIGHT_THIN            = 300
FONT_WEIGHT_NORMAL          = 300
FONT_WEIGHT_BOLD            = 600

// -- Sizes
UNIT                        = 4rem
SPACE                       = (UNIT * 0.29)
MENU_WIDTH                  = 85vw
HEADER_HEIGHT               = 10vh
BUTTON_HEIGHT               = (2.5 * SPACE)
BORDER_RADIUS               = (SPACE / 2)

// -- Animations
ANIMATION_DURATION          = 450ms
ANIMATION_EASE              = cubic-bezier(.55,0,.1,1)
ANIMATION_DELAY             = (ANIMATION_DURATION / 5)

@keyframes LOADING
  0%
    transform scale(0.0)
  100%
    transform scale(1.0)
    opacity: 0

delayChild(child, increment)
  &:nth-child({child})
    transition-delay ((child + increment) * ANIMATION_DELAY)
