@import url("http://fonts.googleapis.com/css?family=Dosis:300,600")

// -- Colors
BACKGROUND                  = #222222
THEME                       = #ffc107
WHITE                       = #ffffff

// -- Fonts
FONT_FAMILY                 = "Dosis", "Helvetica Neue", "Helvetica", "sans-serif"
FONT_SIZE                   = 16px
FONT_SIZE_TINY              = 0.8rem
FONT_SIZE_SMALL             = 0.9rem
FONT_SIZE_NORMAL            = 1.0rem
FONT_SIZE_BIG               = 1.2rem
FONT_WEIGHT_THIN            = 300
FONT_WEIGHT_NORMAL          = 300
FONT_WEIGHT_BOLD            = 600

// -- Sizes
UNIT                        = 4rem
SPACE                       = (UNIT * 0.29)
MENU_WIDTH                  = 85vw
HEADER_HEIGHT               = 10vh
BORDER_RADIUS               = (SPACE / 2)

// -- Animations
ANIMATION_DURATION          = 450ms
ANIMATION_EASE              = cubic-bezier(.55,0,.1,1)
