[data-dialog]
  display-flex()
  justify-content                     center
  align-content                       center
  align-items                         center
  width                               : 100%
  text-align                          : center
  color                               : WHITE
  background-color                    : alpha(BACKGROUND, 97.5%)
  transform                             translateY(100%)
  &.true
    transform                           translateY(0%)
    > * > *
      opacity                         : 1
      transform                         translateY(0%)
  > *
    width                             : 85vw
    > *
      opacity                         : 0
      transform                        translateY(100vh)
      transition                       all ANIMATION_DURATION ANIMATION_EASE
      &:nth-child(0)
        transition-delay               ANIMATION_DELAY
      &:nth-child(1)
        transition-delay               (2 * ANIMATION_DELAY)
      &:nth-child(2)
        transition-delay               (3 * ANIMATION_DELAY)
      &:nth-child(3)
        transition-delay               (4 * ANIMATION_DELAY)
      &:nth-child(4)
        transition-delay               (5 * ANIMATION_DELAY)
      &:nth-child(5)
        transition-delay               (6 * ANIMATION_DELAY)

    > h1
      margin-bottom                   : (SPACE / 2)
    > img
      margin                          : (2 * SPACE) 0 SPACE 0
      max-width                       : 50vw
    > small
      display                         : block
      opacity                         : 0.5
      padding                         : 0 (2.5 * SPACE)
    > button
      margin                          : (2 * SPACE) 0 (SPACE / 2) 0
      width                           : 100%
    > a
      position                        : absolute
      bottom                          : SPACE
      left                            : 0
      width                           : 100%
      font-size                       : FONT_SIZE_BIG
