body
  overflow                                  : none
  font-family                               : FONT_FAMILY
  font-size                                 : FONT_SIZE
  background-color                          : BACKGROUND

  h1, h2, h3, h4, h5, h6, label, p, button, abbr, a
    -webkit-font-smoothing: subpixel-antialiased
    font-smoothing: subpixel-antialiased
    -webkit-text-size-adjust: 100%
    -ms-text-size-adjust: 100%
    text-size-adjust: 100%

  span
    -webkit-font-smoothing: antialiased
    font-smoothing: antialiased

  a
    color                                   : WHITE
    opacity                                 : 0.9
    &:active, &:focus
      opacity                               : 1

  h1
    font-size                               : (1.75 * FONT_SIZE_NORMAL)
  h2
    font-size                               : (1.5 * FONT_SIZE_NORMAL)


  button
    border-radius                           : UNIT
    font-weight                             : FONT_WEIGHT_BOLD

  button, a.button
    overflow                                : hidden
    transition                                all ANIMATION_DURATION (ANIMATION_DURATION / 2) ANIMATION_EASE
    > abbr
      transition                              all (ANIMATION_DURATION / 2) ANIMATION_EASE

    &.loading
      left                                  : GAP = 42vw !important
      right                                 : GAP
      background-color                      : lighten(BACKGROUND, 50%) !important
      animation                               ghost ANIMATION_DURATION (2 * ANIMATION_DURATION) ANIMATION_EASE alternate infinite

      > abbr
        opacity                             : 0


@keyframes ghost
  0%
    transform scale(1)
    opacity: 1
  100%
    transform scale(0.25)
    opacity: 0
