#session
  text-align                            : center
  background-color                      : THEME
  color                                 : WHITE

  > h1
    margin-top                          : -10vh
    font-size                           : (UNIT / 1.5)
    text-shadow                         : H1_SHADOW
  > form
    width                               : WIDTH = 80vw
    > *
      width                             : WIDTH
      text-align                        : center
    > button
      margin                            : (SPACE / 1.5) 0 (SPACE / 3) 0
    > a
      font-size                         : FONT_SIZE_SMALL

  > small
    z-index                             : 1
    position                            : absolute
    left                                : 0
    bottom                              : (SPACE / 2)
    width                               : 100%
    opacity                             : 0.75

  > img
    position                            : absolute
    width                               : 100vw
    bottom                              : -30vw
    right                               : -35vw
    transform                             rotate(-25deg)
