header
  display-flex()
  z-index                             : 2
  position                            : absolute
  left                                : 0
  right                               : 0
  height                              : HEADER_HEIGHT
  padding                             : 0 2.5vw
  color                               : WHITE
  background-color                    : alpha(THEME, 95%)

  overflow : hidden
  transition                            height ANIMATION_DURATION ANIMATION_EASE
  &.maximize
    height                            : (3 * HEADER_HEIGHT)

  &, > *
    line-height                       : HEADER_HEIGHT
  > *
    margin                            : 0 1.25vw
  > nav
    flex-grow                          0
    text-align                        : center
    > *
      display                         : block

    &:not(:last-child)
      max-width                         : HEADER_HEIGHT
      > *
        min-width                       : (HEADER_HEIGHT / 2)
        min-height                      : HEADER_HEIGHT
        background-color                : rgba(0,0,0,0.1)

    &:last-child
      position                        : absolute
      top                             : HEADER_HEIGHT
      margin                          : 0
      left                            : 0px
      right                           : 0px
      background-color                : darken(THEME, 5%)
      > *
        font-size                     : FONT_SIZE_BIG

  > h1
    flex-grow 1
    text-align                        : left
    font-size                         : FONT_SIZE_BIG
    text-transform                    : Capitalize

  > img
    width                             : SIZE = (HEADER_HEIGHT / 1.6)
    height                            : SIZE
    border-radius                     : (SIZE / 2)
    margin-top                        : (SPACE / 1.5)
    box-shadow                        : 0 0 0 (SPACE / 6) alpha(WHITE, 75%)
