li
  display-flex()
  // justify-content                                 center
  // align-content                                   center
  align-items                                     center
  background-color                        : WHITE
  padding                                 : (SPACE / 2) (SPACE / 1.25)
  border-bottom                           : solid 1px darken(WHITE, 2.5%)
  > figure
    width                                 : SIZE = (UNIT / 2.75)
    height                                : SIZE
    margin-right                          : (SPACE / 1.25)
    background-color                      : darken(WHITE, 10%)
    border-radius                         : SIZE
  > div
    display-flex()
    flex-grow                               2
    flex-direction                          column
    > small
      opacity                             : 0.5
  > small
    color                                 : THEME
