form
  &#profile
    margin-top                      : HEADER_HEIGHT
    padding                         : SPACE

    &, > *
      text-align                    : center
    > img
      height                        : (2 * UNIT)
      border-radius                 : UNIT
    > strong
      opacity                       : 0.5
      margin-bottom                 : SPACE

    > input, > textarea
      margin-bottom                 : (SPACE / 4)
    > textarea
      font-size                     : FONT_SIZE_SMALL

    > nav
      margin-top                    : SPACE
      > button
        &:first-child
          min-width                 : BUTTON_HEIGHT
        &:last-child
          margin-left               : SPACE
        &.loading
          flex-grow                   0

  &#secret
    > textarea
      height                        : 20vh
      font-size                     : FONT_SIZE_SMALL
      color                         : lighten(COLOR, 25%)
      border-bottom-color             transparent

    > input, > textarea
      text-indent                   : (SPACE / 4)
    > nav
      position                      : relative
      margin                        : 0 SPACE
      button
        position                    : absolute
        left                        : 0%
        width                       : 100%
        &.loading
          left                      : 50%
          margin-left               : -(BUTTON_HEIGHT / 2)
