article#secret
  // > header
  //   background-color                  : alpha(THEME, 50%)
  > section
    > :not(form):first-child
      position                        : relative
      height                          : 40vh
      background-size                 : cover
      color                           : WHITE
      &::before
        content                       : ""
        position                      : absolute
        left                          : 0
        top                           : 0
        width                         : 100%
        height                        : 100%
        background-color              : alpha(THEME, 75%)
        width                         : 100%
      > *
        z-index: 1
      > h1
        margin-top                    : HEADER_HEIGHT
    > .user
      display-flex()
      padding                           : SPACE SPACE (SPACE / 2) SPACE
      > figure
        width                           : SIZE = (UNIT / 1.6)
        height                          : SIZE
        background-color                : BACKGROUND
        background-image                : url("/assets/img/avatar.jpg")
        background-size                 : cover
        border-radius                   : SIZE
        margin-right                    : (SPACE / 2)
        box-shadow                        0 0 0 (SPACE / 5) THEME
      > div
        > *
          display                       : block

    > p
      margin                            : 0 SPACE

    > nav
      margin                            : SPACE
