article, aside, [data-dialog]
  position                                : absolute
  left                                    : 0
  top                                     : 0
  height                                  : 100%
  transition                                transform ANIMATION_DURATION ANIMATION_EASE

article
  width                                   : 100%
  background-color                        : WHITE
  &:not(#session):not(#content)
    transform                               translateX(100%)
    &.true
      transform                             translateX(0%)


  // -- Content & Session
  &#session, &#content
    z-index                               : 0

  // -- Session
  &#session
    display-flex()
    flex-direction                          column
    justify-content                         center
    align-content                           center
    align-items                             center
    background-color                      : THEME
    text-align                            : center
    color                                 : WHITE

    > h1
      margin-top                          : -5vh
      font-size                           : (UNIT / 1.5)
      text-shadow                         : (SPACE / 4) (SPACE / 6) rgba(0,0,0,0.1)
    > form
      width                               : WIDTH = 80vw
      > *
        display                           : block
        width                             : WIDTH
        font-size                         : FONT_SIZE_NORMAL
        border                            : none
      > input
        margin                            : 0
        padding                           : (SPACE / 2) 0
        text-indent                       : (SPACE / 2)
      > button
        margin                            : (SPACE / 1.5) 0 (SPACE / 3) 0
        height                            : (2.5 * SPACE)
        color                             : THEME
        &[disabled]
          background-color                : darken(THEME, 25%)
        &:not([disabled])
          background-color                : WHITE
      > a
        font-size                         : FONT_SIZE_SMALL

    > small
      z-index                             : 1
      position                            : absolute
      left                                : 0
      bottom                              : (SPACE / 2)
      width                               : 100%
      opacity                             : 0.75

    > img
      position                            : absolute
      width                               : 100vw
      bottom                              : -100vw
      bottom                              : -35vw
      // animation                             session-fox 5s ANIMATION_EASE infinite

  &#session, &#howto
    input
      background-color                : THEME
      color                           : WHITE
      border                          : none
      border-bottom                   : solid (SPACE / 8) alpha(WHITE, 50%)
      text-align                      : center
      transition                        all ANIMATION_DURATION ANIMATION_EASE
      &::-webkit-input-placeholder
        color                         : alpha(WHITE, 50%)
      &:hover, &:focus
        border-bottom-color           : WHITE


@keyframes session-fox
  0%
    bottom                              : -100vw
  30%
    bottom                              : -100vw
  40%
    bottom                              : -35vw
  85%
    bottom                              : -35vw
