article#user
  > section
    > div
      > figure
        width                             : SIZE = 100vw
        height                            : SIZE
        background-size                   : cover

      > p, > nav
        margin                            : (SPACE / 2) SPACE
      > nav
        > button
          width                           : 100%
