sizeLoading(amount)
  > div
    width                       : amount
    height                      : amount
    &::after
      left                      : 0
      width                     : amount
      height                    : amount
      border-radius             : amount
      background-color          : WHITE
    &:nth-child(n+1)
      margin-top                : -(amount)

[data-upload-image]
  position                        : relative
  display                         : block
  background-color                : WHITE
  background-size                 : cover
  background-position             : 50% 50%
  transition                        all ANIMATION_DURATION ANIMATION_EASE
  > input
    display                       : none
  > [data-loading]
    position                      : absolute
    left                          : 0
    bottom                        : 0
    sizeLoading                     UPLOAD_IMAGE_USER

  // -- Classes
  &.user
    margin                        : (SPACE / 2) auto SPACE auto
    width                         : UPLOAD_IMAGE_USER
    height                        : UPLOAD_IMAGE_USER
    border-radius                 : UPLOAD_IMAGE_USER
    box-shadow                      0 0 0 (SPACE / 2) alpha(BACKGROUND, 5%)

  &.secret
    width                         : 100vw
    height                        : SIZE = 80vw
    background-color              : lighten(BACKGROUND, 75%)
    > [data-loading]
      left                        : 10vw
      sizeLoading                   SIZE
