[data-loading]
  display-flex()
  justify-content                     center
  align-content                       center
  align-items                         center
  height                            : 50vh
  width                             : 100%
  > div
    width                           : SIZE = (UNIT / 1.25)
    height                          : SIZE
    border-radius                   : SIZE
    &::before, &::after
      content                       : ""
      position                      : absolute
      width                         : SIZE
      height                        : SIZE
      transform                       scale(0.0)
      border-radius                 : SIZE
      background-color              : darken(WHITE, 25%)
    SPEED = 1.5s
    &::before
      animation loading SPEED 0 infinite
    &::after
      animation loading SPEED (SPEED / 2) infinite


  // &.button > div
  //   position:  absolute
  //   &::before, &::after
  //     background-color              : darken(WHITE, 25%)


  article &
    margin-top                      : HEADER_HEIGHT
