header
  display-flex()
  height                              : HEADER_HEIGHT
  padding                             : 0 5vw
  color                               : WHITE
  background-color                    : rgba(0, 0, 0, 0.1)
  &, > *
    line-height                       : HEADER_HEIGHT

  > nav
    flex-grow                          0
    max-width                         : HEADER_HEIGHT
    text-align                        : center
  > h1
    flex-grow 1
    text-align                        : center
    text-transform                    : Capitalize
