article, aside, [data-dialog]
  position                                : absolute
  left                                    : 0
  top                                     : 0
  height                                  : 100%
  transition                                transform ANIMATION_DURATION ANIMATION_EASE

article
  width                                   : 100%
  background-color                        : WHITE
  > section
    height                                : 100vh

  &:not(#session):not(#content)
    transform                               translateX(100%)
    &.true
      transform                             translateX(0%)

  // -- Content & Session
  &#session, &#content
    z-index                               : 0
