[data-dialog]
  display-flex()
  justify-content                     center
  align-content                       center
  align-items                         center
  width                               : 100%
  text-align                          : center
  color                               : WHITE
  background-color                    : alpha(BACKGROUND, 97.5%)
  transform                             translateY(100%)
  &.true
    transform                           translateY(0%)
    > * > *
      opacity                         : 1
      transform                         translateY(0%)
  > *
    width                             : 85vw
    > *
      opacity                         : 0
      transform                        translateY(100vh) scale(1)
      transition                       all ANIMATION_DURATION ANIMATION_EASE
      DELAY = (ANIMATION_DURATION / 5)
      &:nth-child(0)
        transition-delay               DELAY
      &:nth-child(1)
        transition-delay               (2 * DELAY)
      &:nth-child(2)
        transition-delay               (3 * DELAY)
      &:nth-child(3)
        transition-delay               (4 * DELAY)
      &:nth-child(4)
        transition-delay               (5 * DELAY)
      &:nth-child(5)
        transition-delay               (6 * DELAY)

    > h1
      margin-bottom                   : (SPACE / 2)
    > img
      margin                          : (2 * SPACE) 0 SPACE 0
      max-width                       : 65vw
    > small
      display                         : block
      opacity                         : 0.5
      padding                         : 0 (2.5 * SPACE)
    > button
      margin                          : (2 * SPACE) 0 (SPACE / 2) 0
      width                           : 100%
      height                          : HEIGHT = (UNIT / 1.5)
      font-size                       : FONT_SIZE_SMALL
      font-weight                     : FONT_WEIGHT_BOLD
      line-height                     : HEIGHT
      color                           : WHITE
      background-color                : transparent
      border                          : solid 1px WHITE
      border-radius                   : (SPACE / 4)
    > a
      position                        : absolute
      bottom                          : SPACE
      left                            : 0
      width                           : 100%
      font-size                       : FONT_SIZE_BIG
