ul
  list-style                                : none
  > li
    list-style                              : none
    padding                                 : 0 (SPACE / 1.25)
    box-shadow                                inset 0 -1px darken(WHITE, 5%)
    height                                  : LI_HEIGHT
    display                                 : block
    > *
      color                                 : COLOR
      figure
        background-color                    : darken(WHITE, 7.5%) !important
        background-size                     : cover !important
        border-radius                       : UNIT
      > figure
        position                            : relative
        width                               : SIZE = (UNIT / 2.75)
        height                              : SIZE
        margin-right                        : (SPACE / 1.5)
        box-shadow                          : 0 0 0 (SPACE / 10) darken(WHITE, 10%)
        > figure
          position                          : absolute
          bottom                            : 0
          right                             : -(SPACE / 5)
          width                             : SIZE = (UNIT / 2.5)
          height                            : SIZE
          box-shadow                        : 0 0 0 (SPACE / 10) THEME
      > div
        > *
          display                           : block
          overflow                          : hidden
          white-space                       : nowrap
          text-overflow                     : ellipsis
        > small
          opacity                           : 0.5
      > small
        color                               : THEME
        text-align                          : right

      // -- Classes
      &.purchase, &.user, &.activity
        margin-top                          : (SPACE / 1.9)
        > figure
          width                             : LI_AVATAR_SIZE
          height                            : LI_AVATAR_SIZE
          min-width                         : LI_AVATAR_SIZE
          background-position               : 50% -25%

      &.secret
        margin-top                          : (SPACE / 1.25)
        > small
          width                             : SIZE = (UNIT / 1.4)
          min-width                         : SIZE
          font-weight                       : FONT_WEIGHT_BOLD
      &.purchase
        > div > strong
          color                             : THEME

[data-list-scroll]
  position                                  : absolute
  top                                       : 0
  left                                      : 0
  right                                     : 0
  bottom                                    : 0
  overflow                                  : auto
  transition                                  transform ANIMATION_DURATION ANIMATION_EASE
  > ul
    padding-top                             : HEADER_HEIGHT
    overflow                                : hidden
    > li
      position                              : absolute
      left                                  : 0
      right                                 : 0
