body
  overflow                                  : none
  font-family                               : FONT_FAMILY
  font-size                                 : FONT_SIZE
  background-color                          : BACKGROUND

  h1, h2, h3, h4, h5, h6, label, p, button, abbr, a
    -webkit-font-smoothing: subpixel-antialiased
    font-smoothing: subpixel-antialiased
    -webkit-text-size-adjust: 100%
    -ms-text-size-adjust: 100%
    text-size-adjust: 100%

  span
    -webkit-font-smoothing: antialiased
    font-smoothing: antialiased

  a
    color                                   : WHITE
    opacity                                 : 0.9
    &:active, &:focus
      opacity                               : 1

  h1
    font-size                               : (1.75 * FONT_SIZE_NORMAL)
  h2
    font-size                               : (1.5 * FONT_SIZE_NORMAL)


  button
    border-radius                           : UNIT
    font-weight                             : FONT_WEIGHT_BOLD
    transition                                all ANIMATION_DURATION ANIMATION_EASE
  // -- Classes
