article, aside, [data-dialog]
  position                                : absolute
  left                                    : 0
  top                                     : 0
  height                                  : 100%
  transition                                transform ANIMATION_DURATION ANIMATION_EASE

article
  width                                   : 100%
  background-color                        : WHITE

  &:first-of-type
    z-index                               : 0
    > header, > ul, > section
      transform                             translateY(-100vh)
    > ul, > section
      transition-delay                      (ANIMATION_DURATION / 2)
    &.true
      > header, > ul, > section
        transform                           translateY(0)

  &:not(:first-of-type)
    transform                               translateX(100%)
    > section > * > *
      transform                             translateX(100vw)
      transition                            transform ANIMATION_DURATION ANIMATION_EASE
      for index in (0..10)
        delayChild index, 4

    &.true
      &, > section > * > *
        transform                           translateX(0%)

  > section
    height                                : 100vh
    transition                              transform ANIMATION_DURATION ANIMATION_EASE
