article, aside, [data-dialog]
  position                                : absolute
  left                                    : 0
  top                                     : 0
  height                                  : 100%
  transition                                transform ANIMATION_DURATION ANIMATION_EASE

article
  width                                   : 100%
  background-color                        : WHITE
  &:not(#session):not(#content)
    transform                               translateX(100%)
    &.true
      transform                             translateX(0%)


  // -- Content & Session
  &#session, &#content
    z-index                               : 0

  // -- Session
  &#session
    display-flex()
    flex-direction                          column
    justify-content                         center
    align-content                           center
    align-items                             center
    background-color                      : THEME
    text-align                            : center
    color                                 : WHITE

    > h1
      font-size                           : (UNIT / 1.5)
    > form
      width                               : WIDTH = 80vw
      > *
        display                           : block
        margin                            : (SPACE / 2) 0
        padding                           : (SPACE / 2) 0
        text-indent                       : (SPACE / 2)
        width                             : WIDTH
        font-size                         : FONT_SIZE_NORMAL
        color                             : WHITE
        border                            : none

      > input
        background-color                  : alpha(WHITE, 25%)
        box-shadow                          inset 0 -1px WHITE
        transition                          all ANIMATION_DURATION ANIMATION_EASE
        &:focus
          box-shadow                        inset 0 -3px WHITE

      > button
        border-radius                     : BORDER_RADIUS
        &:not([disabled])
          background-color                : darken(THEME, 25%)


    > a
      font-size                           : FONT_SIZE_SMALL

    > small
      position                            : absolute
      left                                : 0
      bottom                              : (SPACE / 2)
      width                               : 100%
      opacity                             : 0.75
