ul
  list-style                                : none
  > li
    list-style                              : none
    padding                                 : 0 (SPACE / 1.25)
    box-shadow                                inset 0 -1px darken(WHITE, 5%)
    height                                  : 64px
    display                                 : block
    > *
      color                                 : COLOR
      > figure
        width                               : SIZE = (UNIT / 2.75)
        height                              : SIZE
        margin-right                        : (SPACE / 1.25)
        background-color                    : darken(WHITE, 10%)
        background-size                     : cover
        border-radius                       : UNIT
      > div > small
        display                             : block
        overflow                            : hidden
        white-space                         : nowrap
        text-overflow                       : ellipsis
        opacity                             : 0.5
      > small
        color                               : THEME

      // -- Classes
      &.secret
        margin-top                          : (SPACE / 1.5)
        figure
          min-width                         : SIZE = (UNIT / 2.75)

      &.user, &.activity
        margin-top                          : (SPACE / 1.8)
        > figure
          width                             : SIZE = (UNIT / 1.5)
          height                            : SIZE



[data-list-scroll]
  position                                  : absolute
  top                                       : 0
  left                                      : 0
  right                                     : 0
  bottom                                    : 0
  overflow                                  : auto
  transition                                  transform ANIMATION_DURATION ANIMATION_EASE
  > ul
    padding-top                             : HEADER_HEIGHT
    overflow                                : hidden
    > li
      position                              : absolute
      left                                  : 0
      right                                 : 0
