article#secret
  > section
    > :not(form):first-child
      position                        : relative
      height                          : 90vw
      background-size                 : cover
      color                           : WHITE
      background-image                : url("http://cdn.tapquo.com/photos/soyjavi.jpg")
      &::before
        content                       : ""
        position                      : absolute
        left                          : 0
        top                           : 0
        width                         : 100%
        height                        : 100%
        background-color              : alpha(THEME, 25%)
      > *
        z-index: 1
      > h1
        margin-top                    : HEADER_HEIGHT
        text-shadow                   : H1_SHADOW
    > .user
      display-flex()
      padding                         : SPACE SPACE (SPACE / 4) SPACE
      > figure
        width                         : SIZE = (UNIT / 1.6)
        height                        : SIZE
        background-color              : BACKGROUND
        background-image              : url("/assets/img/avatar.jpg")
        background-size               : cover
        border-radius                 : SIZE
        margin-right                  : (SPACE / 2)
        box-shadow                      0 0 0 (SPACE / 5) THEME
      > div
        > *
          display                     : block
    > p
      color                           : lighten(COLOR, 25%)
    > p, > small, > ul
      margin                          : (SPACE / 2) SPACE
    > small
      font-weight                     : FONT_WEIGHT_BOLD
    > nav
      margin                          : SPACE
