aside#menu
  z-index                                         : 2
  width                                           : MENU_WIDTH
  color                                           : WHITE
  background-color                                : BACKGROUND
  transform                                         translateX(-100%)
  &.true
    transform                                       translateX(0%)
  > div
    text-align                                    : center
    padding                                       : (2 * SPACE) SPACE
    background-color                              : BACKGROUND = lighten(BACKGROUND, 5%)
    figure
      width                                       : SIZE = UNIT
      height                                      : SIZE
      margin-bottom                               : (SPACE / 2)
      border-radius                               : SIZE
      background-color                            : BACKGROUND
      background-size                             : cover
      box-shadow                                    0 0 0 3px BACKGROUND, 0 0 0 5px alpha(THEME, 75%)
    h2
      color                                       : THEME
    small
      opacity                                     : 0.4
  > nav
    margin                                        : (SPACE / 4) 0
    > *
      display-flex()
      padding                                     : (SPACE / 2) SPACE
      opacity                                     : 0.5
      > strong
        flex-grow                                 2
        font-weight                               : FONT_WEIGHT_NORMAL
      &.true, &.active
        opacity                                   : 1
        color                                     : THEME
