ul
  position                        : absolute
  top                             : 0
  left                            : 0
  bottom                          : 0
  width                           : 100%
  overflow-x                      : hidden
  overflow-y                      : scroll
  -webkit-overflow-scrolling      : touch
  transition                        all ANIMATION_DURATION ANIMATION_EASE
  > :first-child
    margin-top                    : HEADER_HEIGHT
  > input
    width                         : 100%
    height                        : HEIGHT = (UNIT / 1.5)
    font-size                     : FONT_SIZE_NORMAL
    font-weight                   : FONT_WEIGHT_NORMAL
    line-height                   : HEIGHT
    box-shadow                      inset 0 -1px darken(WHITE, 5%) !important
